1. Does not run without error because python cannot concatenate a string and a list since they are two different types.

In [3]:
x = [1, 2, 3]
y = 'bootcamp'
z = x + y

TypeError: can only concatenate list (not "str") to list

2. type() tells us what kind of type they are and len() tells us how many elements they contain.

3. They are as follows as shown by the type() function:

In [4]:
print(type(2))
print(type('2'))
print(type(2.0))
print(type("2.0"))
print(type(2>1))
print(type('Itamar' > 'Chase'))
print(type([1,2]))
print(type((1,2)))
print(type({1: 'one', 2: 'two'}))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

4. The values are as follows:

In [8]:
print(1>=0)
print(1 >= 1)
print(1 > 1)
print(1==1)
print(1 == 1.0)
print('Spencer' == "Spencer")
print(2**3 > 3**2)
print( 1 >= 0 or 1 <= 2)
print(1 >= 0 and 1 <= 2)

True
True
False
True
True
True
False
True
True

5. Code does not run without error. I would fix it by adding a colon : after 2>1, I would also indent the second line more."

In [18]:
if 2>1
   print('Yes, 2 is still greater than 1')

SyntaxError: invalid syntax (<ipython-input-18-36bf0e1b5396>, line 1)

In [14]:
if 2>1:
    print('Yes, 2 is still greater than 1')

Yes, 2 is still greater than 1

6. The result is on the one hand because it stored the value of the previous statement in question 5 as true, therefore, the subsequent functions would act under the circumstances of it being true.

In [20]:
if True:
    print('on the one hand')
else:
    print('but on the other hand')

on the one hand

In [21]:
if False:
    print('on the one hand')
else:
    print('but on the other hand')

but on the other hand

In [23]:
if not True:
    print('on the one hand')
else:
    print('but on the other hand')

but on the other hand

In [24]:
if not False:
    print('on the one hand')
else:
    print('but on the other hand')

on the one hand

7. As follows

In [29]:
cond = True
if cond: 
    x = "Chase"
else:
    x = "Dave"
print(x)

Chase

8.

In [31]:
x = [1, 2, 3, 4]
y = ['x', 'y', 'z']

if len(x) > len(y):
    print('x has more')
else: print("y has at least as many")

x has more

9. Slicing is a way of getting specific sets of desired elements out of a list, tuple, or array.

10.

In [36]:
x = [1, 2, 3, 4, 5]
print(x[0])
print(x[-1])
print(x[0:4])

1
5
[1, 2, 3, 4]

11.

In [10]:
sentence = 'This is a sentence; please slice it.'
x = sentence
print(x[0:4], x[4:7], x[7:9], x[10:18], x[20:26], x[27:32], x[32:35])

This  is  a sentence please slice  it

12.

In [14]:
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]

a.

In [16]:
print(x[0])
print(x[-1])

1
10

b.

In [17]:
x[3:7]

['b', 'fast', 'slow', 3]

13.

In [18]:
for i in x:
    print(i)

1
2
a
b
fast
slow
3
Raghu
Liuren
10

14.

In [29]:
for item in x:
    if type(item) == str:
        print(item)

a
b
fast
slow
Raghu
Liuren

15. range?

Init signature: range(self, /, *args, **kwargs)
Docstring:     
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type

range(3,12,2) is saying to include all numbers from 3 to 11 (does not include 12) while counting by twos.

In [36]:
list(range(3,12,2))

[3, 5, 7, 9, 11]

16.

In [65]:
sum = 0
for num in range(0,31,3):
    sum = sum + num
print(sum)

165

17.

In [80]:
def pocket_change(pennies, nickles, dimes, quarters):
    total = 1*pennies + 5*nickles + 10*dimes +25*quarters
    return total/100
t = pocket_change(1,2,3,4)
t
print("$" + str(t))

$1.41

18.

In [96]:
def notsix(listofnumbers):
    x=[]
    for num in listofnumbers:
        y = str(num)
        if y[0]!="6":
            x.append(num)
    return x
        
notsix([1234,6783,6,4321,9876])

[1234, 4321, 9876]

19. new_list includes all values in old_list that does not begin with a 6.

In [98]:
old_list = [1234, 6783, 6, 4321, 9876]
print(old_list)
new_list = [x for x in old_list if str(x)[0] != "6"]
print(new_list)

[1234, 6783, 6, 4321, 9876]
[1234, 4321, 9876]

20. 


a. z is a dictionary, it's length is 3 items.

b. the keys are the first component of each dictionary entry( 1, 2, 3). The values are the components after the colon, 'one','two','three'.

c. z[2]

d. z.keys? D.keys() -> a set-like object providing a view on D's keys
Type:      builtin_function_or_method

    z.value displays values in dictionary z

e. list(z.keys()) converts keys in z into a list

f. list(z.values()) converts values in z into a list

g. list(z) converts dictionary z into a list

In [122]:
z = {1: 'one', 2: 'two', 3: 'three'}
print(type(z))
print(len(z))
print(z[2])
print(z.keys())
print(z.values())

<class 'dict'>
3
two
dict_keys([1, 2, 3])
dict_values(['one', 'two', 'three'])
[1, 2, 3]
['one', 'two', 'three']

In [123]:
list(z.keys())

[1, 2, 3]

In [124]:
list(z.values())

['one', 'two', 'three']

In [125]:
list(z)

[1, 2, 3]

21. This assignment took me 3 hours. [insert link to github repository]